$color-black-primary: #393b44;
$color-dark-black: #333;
$color-black: black;
$color-grey: grey;
$color-primary: #4e89ae;
$color-primary-dark: #9ab3f5;
$color-primary-light: #dbe3e5;
$color-grey-dark: #999;
$color-grey-text: #eee;
$color-white: white;
$color-grey-light: #f7f7f7;
$color-subtle-green: #4e89ae;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-green-dark: rgb(13, 153, 48);
$color-green-light: rgb(66, 211, 151);
$color-blue-dark: #4e89ae;
$color-blue-light: #40a8c4;
$color-feature-dark: #557571;
$color-feature-light: #9cada4;
$color-footer: #1d2d50;
$color-heading-dark: #133b5c;
$color-heading-light: #68b0ab;
$color-heading-white-dark: #e0ece4;
$color-heading-white-light: #f1f3f8;
$color-nav-dark: #206a5d;
$color-nav-light: #64958f;
