.btn {
  &:focus {
    outline: none;
  }

  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.7rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;

    &::after {
      background-color: $color-white;
    }
  }

  &--blue {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  &--green {
    background-color: $color-green-dark;
    color: $color-white;

    &::after {
      background-color: $color-green-dark;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.85s;
    animation-fill-mode: backwards;
  }
}

.btn-text {

  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-blue-dark;
    padding: 0.3rem;
    font-size: 1.4rem;
    color: $color-blue-dark;
    transition: all 0.2s;
  }

  &--large {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
  }

  &:hover {
    background-color: $color-blue-dark;
    color: $color-white;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);
  }
}